*{
  box-sizing: border-box;
  font-family: Arial;
  font-size: 100%;
}

body {
  max-width: 1000px;
  margin: 0 auto;
}

form {
  width: 640px;
  margin: 0 auto;
  border: 3px solid blue;
}

label{
  display: block;
}

.required{
  background-color: red;
}

input{
  display: block;
}

img {
  display: none;
  margin: 0 auto;
}
